<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="container">
    <p>
        We are a growing organization. We currently have <%= userCount %> subscribers on our email list. What are you waiting for? Join our mailing list to stay up to date!
    </p>
</main>

<%- include('../partials/footer') %>