<%- include('../partials/head'); %>
<%- include('../partials/header') %>

<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">Email List!</h1>
        <p class="lead">Join. The. List.</p>
        <hr class="my-2">
        <p>Keep up to date with our progress!</p>
        <p>We currently have <%= userCount%> users</p>
        <a href="#" role="button" class="btn btn-primary btn-lg">Sign up for newsletter</a>
    </div>
    
</main>

<%- include('../partials/footer') %>